body{
    margin:0;
    padding:0;
    font-family:Arial, sans-serif;
    background:#f4f4f4;
}

header{
    background:#003366;
    color:white;
    text-align:center;
    padding:25px;
}

nav{
    background:#0059b3;
    text-align:center;
    padding:12px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:20px;
    font-size:18px;
    font-weight:bold;
}

nav a:hover{
    color:yellow;
}

main{
    width:70%;
    margin:30px auto;
    background:white;
    padding:25px;
    border:2px solid #ccc;
    border-radius:8px;
}

h2{
    color:#003366;
}

label{
    display:block;
    margin-top:15px;
    font-weight:bold;
}

input,
select,
textarea{
    width:100%;
    padding:10px;
    margin-top:5px;
    margin-bottom:10px;
    box-sizing:border-box;
}

input[type="radio"]{
    width:auto;
    margin-right:5px;
}

button{
    background:#003366;
    color:white;
    padding:12px 25px;
    border:none;
    border-radius:5px;
    cursor:pointer;
    font-size:16px;
}

button:hover{
    background:#0059b3;
}

footer{
    background:#003366;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:20px;
}